h1, h2 {
  color: #000000;
}
.titleImg {
	 display: block;
   max-width: 90%;
   height: auto;
}
.headerText{
  font-size: 2.25em;
  font-weight: 300;
}
.success.mission {
  background-color: #FFF;
  color: #000000;
}
.aboutTitle {
  display: block;
  margin: 0 auto 0px;
  max-width: 100%;
  padding-bottom: 25px; 
}
.aboutTitle.credence{
  padding-top: 150px;
}
.aboutText {
  color: #000000;
  font-size: 20px;
  margin: 0 0 10px;
}
.portfolio {
  padding-bottom: 50px;
  max-width: 100%;
}

/*iPhone 6 Media Query*/
@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{
    .headerText {
      font-size: 1.25em;
      font-weight: 300;
    }
    .aboutTitle.credence{
       padding-top: 25px;
    }
    p {
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar-custom .navbar-brand  {
      min-width: 45px;
      background-position-y: center;
      margin-left: 16px;
    }
}
.modal-body {
  padding-bottom: 100px;
}